%h1
  %img{ :src => "/assets/logo-kleer.png", :height => "30" }
  =" | #{@event.event_type.name}" 

.grid_8
  =raw(@event.embedded_player)
.grid_4
  %h3 ¿Preguntas o sugerencias? Utiliza el siguiente #Hashtag:
  =raw(@event.twitter_embedded_search) 

:javascript

  $(document).ready(function() {
   
    $("iframe").each(
         function(index, elem) {
             elem.setAttribute("width","100%");
             elem.setAttribute("height","400");
         }
     );

  })
