- if !@nakedform
  .controls
    .form-wrapper
      = render '/commons/notice'
      - if @event.is_webinar?
        %p Gracias! Te hemos enviado un e-mail con la confirmaci贸n de tu registro.
      - else
        %p Gracias! Te hemos enviado un e-mail con informaci贸n importante sobre tu registro.
- else
  :css
    body {bgcolor:#FFFFFF;}
  = render '/commons/notice'
  - if @event.is_webinar?
    %p Gracias! Te hemos enviado un e-mail con la confirmaci贸n de tu registro.
  - else
    %p Gracias! Te hemos enviado un e-mail con informaci贸n importante sobre tu registro.
