- if !@nakedform
  .controls
    .form-wrapper
      = render '/commons/notice'
      - if @event.is_webinar? && 
        %p Gracias! Te hemos enviado un e-mail de confirmaci칩n de tu registro.
      - else
        %p Gracias! Un representante de Kleer se contactar치 contigo para concluir el proceso de registro.
- else
  :css
    body {bgcolor:#FFFFFF;}
  = render '/commons/notice'
  - if @event.is_webinar? && 
    %p Gracias! Te hemos enviado un e-mail de confirmaci칩n de tu registro.
  - else
    %p Gracias! Un representante de Kleer se contactar치 contigo para concluir el proceso de registro.
