%h1 Listado de eventos

%table
  %tr
    %th Fecha
    %th Nombre
    %th Ciudad
    %th País
    
  - @events.each do |event|
    %tr
      %td= event.date
      %td= link_to event.name, :controller => "public_events", :action => "show", :id => event
      %td= event.city
      %td= event.country.name unless event.country.nil?

