= semantic_form_for("event", :remote => true) do |f|

  - f.inputs do
    - if !@trainers_for_event_type.blank?
      = f.input :trainer_id, :as => :select, :collection=>@trainers_for_event_type.collect{ |s| [s.name,s.id]}
    - else
      - if !@event.blank? && !@event.event_type.blank?
        = f.input :trainer_id, :as => :select, :collection=>@event.event_type.trainers.collect{ |s| [s.name,s.id]}
      - else
        = f.input :trainer_id, :as => :select, :collection=>[]
