= form_for("event", :remote => true) do |f|
  - if !@trainers_for_event_type.blank?
    = f.collection_select :trainer_id, @trainers_for_event_type, :id, :name
  - else
    - if !@event.nil? && !@event.event_type.nil?
      = f.collection_select :trainer_id, @event.event_type.trainers, :id, :name
    - else
      = f.collection_select :trainer_id, [], :id, :name, {include_blank: 'No hay entrenadores disponibles'}