.page-header
  %h1.pull-left
    %i.icon-play
    %span Inicio de Webinar

= render '/commons/notice'

.row-fluid.invoice
  .span12.box
    .box-content.box-double-padding
      .row-fluid
        .invoice-header
          .invoice-title
            = @event.event_type.name
      .row-fluid
        .span12
          - if @notifications > 0
            %p="Se han enviado invitaciones a #{@notifications} participantes."
          %p
            Puedes utilizar el siguiente link para difundir el webinar:
            %a{ :href => @webinar_link }= @webinar_link

