.main-nav-bg
  %nav#main-nav
    .navigation
      %ul.nav.nav-stacked
        %li{ :class => menu_item_class(@active_menu, "dashboard") }
          %a{ :href => "/dashboard" }
            %i.icon-dashboard
            %span Dashboard
        %li{ :class => menu_item_class(@active_menu, "pricing") }
          %a{ :href => "/dashboard/pricing" }
            %i.icon-money
            %span Pricing
        - if can? :manage, Event.new
          %li{ :class => menu_item_class(@active_menu, "events") }
            %a{ :href => "/events" }
              %i.icon-calendar
              %span Eventos
        - if can? :manage, EventType.new
          %li{ :class => menu_item_class(@active_menu, "event_types") }
            %a{ :href => "/event_types" }
              %i.icon-tasks
              %span Tipos de Evento
        - if can? :manage, Category.new
          %li{ :class => menu_item_class(@active_menu, "categories") }
            %a{ :href => categories_path }
              %i.icon-sitemap
              %span= t('menu.categories')
        - if can? :manage, Trainer.new
          %li{ :class => menu_item_class(@active_menu, "trainers") }
            %a{ :href => trainers_path }
              %i.icon-briefcase
              %span= t('menu.trainers')
        %li{ :class => menu_item_class(@active_menu, "roles") }
          %a{ :href => roles_path }
            %i.icon-cogs
            %span= t('menu.roles')
        %li{ :class => menu_item_class(@active_menu, "users") }
          %a{ :href => users_path }
            %i.icon-user
            %span= t('menu.users')
