- flash.each do |name, msg|
  - if name.to_s == "notice"
    .alert.alert-success
      %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
      =msg
  - elsif name.to_s == "alert"
    .alert.alert-error
      %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
      =msg
  - else
    .alert.alert-info
      %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
      =msg