#faq {
  .accordion-group {
    background: $white;
  }

  .tabs-left > .nav-tabs {
    margin-right: 0;
    border-right: none;
  }

  .tab-content {
    background: $white;
    padding: 19px;
    border: 1px solid #ddd;
  }

  .accordion {
    margin-bottom: 0;
  }

  @media (max-width: 380px) {
    .tabs-left > .nav-tabs {
      float:none;
      li.active {
        a {
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}