= semantic_form_for @role do |f|
  - f.inputs :role_details do
    .grid_12
      = f.input :name, :input_html => { :size => 40 }
      = f.actions
      = link_to t('formtastic.actions.cancel'), roles_path
