.page-header
  %h1.pull-left
    %i.icon-tasks
    %span Tipos de Evento
  .pull-right
    %a.btn.btn-white{ :href => new_event_type_path }= t('formtastic.actions.new')

= render '/commons/notice'

.row-fluid
  .span12.box.bordered-box.orange-border{ :style => "margin-bottom:0;" }
    .box-header.orange-background
      .title Tipos de Evento
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table.table.table-striped{ :style => "margin-bottom:0;" }
            %thead
              %tr
                %th= t('formtastic.labels.event_type.name')
                -# %th= t('formtastic.labels.event_type.description')
                %th
            %tbody
              - @event_types.each do |event_type|
                %tr
                  %td= event_type.name
                  -# %td= event_type.description
                  %td
                    .text-right
                      - #%a.btn.btn-success.btn-mini{ :href => event_path(event) }
                      - #  %i.icon-eye-open
                      %a.btn.btn-warning.btn-mini{ :href => edit_event_type_path(event_type) }
                        %i.icon-edit
                      %a.btn.btn-danger.btn-mini{ :href => event_type_path(event_type), "data-confirm" => "Seguro que lo quieres borrar?", "data-method" => "delete", :rel => "nofollow" }
                        %i.icon-trash