/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require formtastic
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style-position: inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 13px/1.5 'Helvetica Neue','Arial','Liberation Sans','FreeSans','sans-serif'; }

a:focus {
  outline: 1px dotted; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

html {
  background: #ffffff url('/assets/bg.jpg') repeat-x center top;
  color: #333333; }

a {
  color: #336699; }

a:hover {
  color: #6699cc; }

.auto_focus {
  display: none; }

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  height: 90px;
  color: #009933;
  position: relative; }
  #header img {
    float: left;
    padding-right: 5px; }
  #header .logo {
    float: left; }
    #header .logo h1 {
      display: none; }
    #header .logo strong {
      position: absolute;
      top: 0px;
      right: 200px;
      color: #999999; }
  #header ul#languages {
    float: right;
    overflow: hidden; }
    #header ul#languages li {
      float: left;
      list-style: none; }
    #header ul#languages li:before {
      content: "\00a0|\00a0"; }
    #header ul#languages li:first-child:before {
      content: ""; }
    #header ul#languages a {
      color: #009933;
      text-decoration: none; }
    #header ul#languages a:hover {
      color: #007711;
      text-decoration: underline; }
  #header ul#menu {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 6px; }
    #header ul#menu li {
      float: left;
      list-style: none;
      background-color: #336699;
      margin: 2px;
      border: 2px solid #ff2600; }
      #header ul#menu li.selected {
        background-color: #fff; }
        #header ul#menu li.selected a {
          color: #ff2600; }
    #header ul#menu a {
      color: #fff;
      padding: 10px;
      line-height: 25px;
      text-decoration: none; }
    #header ul#menu a:hover {
      color: #f7c13b;
      text-decoration: underline; }

#footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  color: #999999;
  text-align: center;
  font-size: 8pt; }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  #container enumerate(.grid, #container 1, #container 12, #container _) {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  #container .grid_1 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px; }
  #container .grid_2 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px; }
  #container .grid_3 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }
  #container .grid_4 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }
  #container .grid_5 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px; }
  #container .grid_6 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px; }
  #container .grid_7 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 540px; }
  #container .grid_8 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px; }
  #container .grid_9 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px; }
  #container .grid_10 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 780px; }
  #container .grid_11 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 860px; }
  #container .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px; }
  #container .prefix_1 {
    padding-left: 80px; }
  #container .prefix_2 {
    padding-left: 160px; }
  #container .prefix_3 {
    padding-left: 240px; }
  #container .prefix_4 {
    padding-left: 320px; }
  #container .prefix_5 {
    padding-left: 400px; }
  #container .prefix_6 {
    padding-left: 480px; }
  #container .prefix_7 {
    padding-left: 560px; }
  #container .prefix_8 {
    padding-left: 640px; }
  #container .prefix_9 {
    padding-left: 720px; }
  #container .prefix_10 {
    padding-left: 800px; }
  #container .prefix_11 {
    padding-left: 880px; }
  #container .suffix_1 {
    padding-right: 80px; }
  #container .suffix_2 {
    padding-right: 160px; }
  #container .suffix_3 {
    padding-right: 240px; }
  #container .suffix_4 {
    padding-right: 320px; }
  #container .suffix_5 {
    padding-right: 400px; }
  #container .suffix_6 {
    padding-right: 480px; }
  #container .suffix_7 {
    padding-right: 560px; }
  #container .suffix_8 {
    padding-right: 640px; }
  #container .suffix_9 {
    padding-right: 720px; }
  #container .suffix_10 {
    padding-right: 800px; }
  #container .suffix_11 {
    padding-right: 880px; }
  #container .alpha {
    margin-left: 0; }
  #container .omega {
    margin-right: 0; }

#actions ul {
  list-style-type: circle; }
#actions h4 {
  font-size: 15px;
  margin: 6px 0; }

#content {
  min-height: 590px; }
  #content p {
    margin: 15px 0; }
  #content h1 {
    color: #336699;
    border-bottom: 1px solid #336699;
    margin-bottom: 10px; }
  #content h3 {
    margin-top: 15px; }
  #content h5 {
    margin: 10px 0; }
  #content dl dt {
    font-weight: bold;
    font-size: 1.3em;
    margin: 5px 0;
    padding-top: 10px; }
  #content dl dd {
    margin-bottom: 5px; }
    #content dl dd h1 {
      font-size: 1.2em;
      border: 0; }
    #content dl dd h2 {
      font-size: 1.1em; }
    #content dl dd h3 {
      font-size: 1.0em; }
    #content dl dd ul {
      padding-left: 2em; }
    #content dl dd ol {
      padding-left: 2em; }
  #content table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 5px 0; }
    #content table th {
      font-size: 1.2em;
      font-weight: normal;
      color: #009933;
      padding: 10px 8px;
      border-bottom: 2px solid #009933; }
    #content table td {
      border-bottom: 1px solid #336699;
      padding: 6px 8px; }
